/* 
    Document   : indice
    Created on : 19/09/2011, 11:19:28 AM
    Author     : oscar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#cerrarSesion{
    position: fixed;
    top:5px;
    right: 5px;
}
#migas{
    color: blue;
}
