/* 
    Document   : dependencias
    Created on : 19/10/2011, 10:59:42 AM
    Author     : oscar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
